
.oh-my-zsh/
.zsh_history
CS465_Computer_Systems_Architecture/
powerlevel10k~/
game_study/
*.zsh
*.zwc
.cache/p10k-owner/prompt-61
vimfiles/.netrwhist
vimfiles/.netrwhist~
_viminfo
.zshrc
.histfile
.zcompdump
CS468_Secure_Programming_and_Systems/
